html, body {
  width: 1000px;
  height: 1000px;
  padding: 0;
  margin: 0;
}

.page-div{
  width: inherit;
  height: inherit;
  padding: 0;
  margin: 0;
  background-color: pink;
}

#login-image{
   width: 220px;
   height: 200px;
   margin-top: 100px;
   margin-left: 40%;
}

.center-text{
  text-align: center;
}

#login-inputs-div{
  text-align: center;
  width: 600px;
  height: 270px;
  margin-left: 20%;
  background-color: #ffccd5;
  padding-top: 10%;
  border: 4px solid black
}

#login-adm-buttom{
  width: 50%;
}

.login-forms{
  width: 80%;

}

/* BARRA DE NAVEGAÇÃO */
nav {
    background-color: #dddddd;
    margin: 0;
    overflow: hidden;
}

nav > ul {
    margin: 0;
}

nav > ul > li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
    float: right;							/* MEU DEUS CSS 1 SABRINA 0 SOCORRO*/
    padding: 0em 0em;
}

nav > ul > li > a {
    color: #53805c;
    display: block;
    padding: 0em 0em;
    text-decoration: none;
    font: 1em "Open Sans", sans-serif;
}
/* ---------------------------------------------------------------- */

