<span slot="title">Agendar Compromisso</span>
<span slot="breadcrumbs"><a href="#admin/calendar">Agenda</a> - Agendar Compromisso</span>

<div class="row">
  <form>
    <div class="col-3">
      <label for="prod-serv-select">Selecione o serviço que deseja:</label>
      <select class="select select-forms">
        <option value="service-A" selected>Tosa</option>
        <option value="service-B">Banho</option>
      </select>
      <label for="name-prod-reg">Nome do Cliente</label>
      <input class="two-col-input space-btw-two-co" type="text" name="name-prod-reg">
      <label for="code-prod-reg">Username do Amigo</label>
      <input class="two-col-input" type="text" name="code-prod-reg">

    </div>
    <div class="col-3">
      <label for="price-prod-reg">Data Escolhida</label>
      <input class="two-col-input" type="text" name="price-prod-reg">
      <label for="desc-prod-reg">Horário Escolhido</label>
      <input class="two-col-input" type="text" name="desc-prod-reg">
    </div>
  </form>
  <div class="row">
    <div class="col-3">
      <button class="btn btn-two-col-reg btn-primary align-left" onclick="location.href='#admin/calendar';">
        <i class="fa fa-calendar-times-o" aria-hidden="true"></i>&nbsp; Cancelar
      </button>
    </div>
    <div class="col-3">
      <button class="btn btn-two-col-reg btn-primary" onclick="location.href='#admin/calendar';">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp; Confirmar
      </button>
    </div>
  </div>
</div>