<main>
  <div class="grid-container">
    <div class="row">
      <div class=col-6>
        <div id="login-logo"></div>
      </div>
    </div>

    <div class="login-block">
      <h1 class="center-text"> Entre com sua conta!</h1>
      <h2 class="center-text header-horizontal-line"> Cuide dos seus melhores amigos com a gente!</h2>

      <div id="login-inputs-div">
        <form>
          <label for="email-adm-login">Email:</label>
          <input type="text" name="email-adm-login">
          <label for="senha-adm-login">Senha:</label>
          <input type="text" name="senha-adm-login">
          <input style="width: 48%; margin-right: 3%;" class="login-button btn btn-primary align-left" value="Login Admin" onclick="location.href='#admin/admins';">
          <input style="width: 48%" class="login-button btn btn-primary" value="Login Cliente" onclick="location.href='#pets';">
        </form>
      </div>
    </div>

  </div>
  <petioro-footer></petioro-footer>
</main>
