<span slot="title">Ganhos</span>

<div slot="before-buttons">
  <div class="col-3">
    <h3 class="earnings-big-values">10.000.000</h3>
    <p>produtos vendidos no mês de Abril</p>
  </div>
  <div class="col-3">
    <h3 class="earnings-big-values">R$ 500.000.000,00</h3>
    <p>de faturamento no mês de Abril</p>
  </div>
</div>

<select slot="buttons-left" class="select select-primary pre-form-btn-left">
  <option value="janeiro">Janeiro</option>
  <option value="fevereiro">Fevereiro</option>
  <option value="marco">Março</option>
  <option value="abril">Abril</option>
</select>
<button slot="buttons-right" class="btn btn-primary pre-form-btn-right btn-small">
  <i class="fa fa-print fa-lg" aria-hidden="true"></i>&nbsp; Imprimir
</button>

<earnings-table></earnings-table>